<h1>Editing Diary</h1>

<%= render 'form', diary: @diary %>

<div class="row">
  <div class="col l12">
    <%= link_to 'Show', @diary, class: 'show-btn' %>
    <%= link_to 'Back', diaries_path, class: 'back-btn' %>
  </div>
</div>
