<h1><%= t('.title') %></h1>

<%= render 'form', diary: @diary %>

<div class="row">
  <div class="col l12">
    <%= link_to t('buttons.back'), diaries_path, class: 'back-btn' %>
  </div>
</div>

<%= render 'calendar', diaries: @calendar_diaries %>
