<h1><%= t('.title', date: @diary.date ) %></h1>

<div class="row">
  <div class="col l8 s12">
    <%= simple_format(@diary.body) %>
  </div>
</div>
<div class="row">
  <div class="col l12">
    <%= link_to t('views.buttons.edit'), edit_diary_path(@diary), class: 'edit-btn' %>
    <%= link_to t('views.buttons.back'), diaries_path, class: 'back-btn' %>
  </div>
</div>

